# Node.js specific
node_modules/
npm-debug.log
yarn-error.log
*.tgz

# dotenv
.env

# IDEs
.vscode/
.idea/

# Logs
logs/
*.log

# Build artifacts
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db
